

html {
  height: 100%;
  width: 100%;
  overflow: auto;
  background: radial-gradient(ellipse at bottom, #225733 0%,#000000 100%);
}

:root {
  --main-bg-color: transparent;
  --main-card-color: #ffdfe3;
  --main-text-color: #2E2E3A;
  --surface-color: #fff;
  --curve: 40;
}

@font-face {
  font-family: "catcheye-webfont";
  src: url('../fonts/Roboto-Regular.ttf') format('woff2'),
       url('../fonts/coolvetica_rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "catcheye-webfont"; 
}

 h1 {
  font-family: "catcheye-webfont";
  color: rgb(255, 255, 255);
  padding: 10%;
  font-size: 0.8em;
  font-weight: normal;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

.two {
  text-decoration: line-through;
}


 h2 {
  font-family: "catcheye-webfont";
  color: rgb(255, 255, 255);
  font-size: 0.8em;
  font-weight: normal;
  font-style: normal;
  margin-top: -50px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
}




#subscribe{
  background:#ddd;
  padding:15px 30px 15px 30px;
  margin:10px;
  border:none;
  cursor:pointer;
  border-radius:10px;
  font-family: "catcheye-webfont";
  font-weight: 600;
}

input {
  width: 100%;
  height: 55px;
  background-color: #eee;
  border: none;
  padding-left: 5px;
  outline: none;
  font-weight: 600;
  position: relative;
  border-radius:10px;
}

.container {
  width: 800px;
  margin: 10px auto;
  text-align: center;
}

.four{
  margin-bottom: 30px;
  font-size: 19px; 
  font-family: "catcheye-webfont";
  font-weight: 900;
}

h3 {
  font-size: 16px;  color:#fff;
  font-family: "catcheye-webfont";
}

p {
  font-size: 16px;
  color: #fff;
}



#name, #email, #instagram {
  text-align: center;
  font-family: "catcheye-webfont";
}

#submit {
  margin-top: 20px;
  font-family:Arial, Helvetica, sans-serif;
  width: 100px;
  height: 40px;
  display: inline-block;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  border-radius: 20px;
  background: rgb(115, 179, 19);
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  line-height: 100%;
}



#submit:hover {
  color: black;
  background-color: rgb(10, 192, 0);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}


.wrapper {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  background: #000;
}

.popup-box {
  width: 350px;
  padding: 65px;
  transform: translate(-50%, -50%) scale(.5);
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 2px 16px greenyellow;
  border-radius: 30px;
  text-align: center;
  background-image: url(../images/Snake5.svg);

}


.popup-box .close-button {
  width: 35px;
  height: 35px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
  border-radius: 20px;
  background: rgb(115, 179, 19);
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  line-height: 190%;
}

.popup-box .close-button:hover {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.transform-in, .transform-out {
  display: block;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.transform-in {
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}

.transform-out {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
}

/* Style the button that is used to open and close the collapsible content */

.collapsible::before {
  content: '+';
  color: greenyellow;
  padding: 335px
}

.collapsible {
  background-color:transparent;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 80px;
}




/* Style the collapsible content. Note: hidden by default */

.content {
  display: none;
  margin: auto;
  background-color: transparent;
  color: greenyellow;
  font-family: "catcheye-webfont";
}
.content a {
  display: block;
  text-decoration: none;
  font-family: "catcheye-webfont";
  color: greenyellow;
}
.content a:hover {
  text-decoration: none;
  font-family: "catcheye-webfont";
  color: rgb(247, 255, 235);
}

.content li {
  list-style: none;
  display: block;
  text-align: center;
  
  }

  .gallery_1 * {
    font-family: Nunito, sans-serif;
  }
  

  
  .gallery_1 img {
    object-fit: cover;
  }
  
  .gallery_1 .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .gallery_1 .responsive-container-block.bigContainer {
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
  }
  
  .gallery_1 .responsive-container-block.Container {
    max-width: 1320px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 50px;
    margin-right: auto;
    margin-bottom: 50px;
    margin-left: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  
  .gallery_1 .responsive-container-block.imgContainer {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    min-height: auto;
    height: 720px;
    position: relative;
  }
  
  .gallery_1 .overlay {
    position: fixed;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(71, 69, 69, 0.7);
    height: 100%;
    width: 100%;
    max-height: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
    display: none;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }
  
  .gallery_1 .overlay-inner {
    top: 50%;
    right: 0px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: white;
    max-width: 700px;
    width: 100%;
    padding-top: 35px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    opacity: 1;
  }
  
  .gallery_1 .close {
    position: absolute;
    top: 9px;
    right: 15px;
    background-image: none;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    color: #474545;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: initial;
    border-right-style: initial;
    border-bottom-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-bottom-color: initial;
    border-left-color: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  
  .gallery_1 .overlay-inner img {
    height: auto;
    width: 100%;
    transform: none;
  }
  
  .gallery_1 .close:hover {
    cursor: pointer;
  }
  
  .gallery_1 .project {
    position: absolute;
    width: 39.8%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  
  .gallery_1 .btn-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  
  .gallery_1 .project:hover .btn-box {
    display: block;
  }
  
  .gallery_1 .btn {
    cursor: pointer;
  }
  
  .gallery_1 .smallImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gallery_1 .project.project1 {
    width: 39.8%;
    height: 66.67%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .gallery_1 .project.project2 {
    bottom: 0px;
    top: auto;
    right: auto;
    width: 59.75%;
    height: 32.6%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .gallery_1 .project.project3 {
    left: 40.2%;
    right: auto;
    bottom: auto;
    width: 19.4%;
    height: 32.98%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .gallery_1 .project.project4 {
    left: 40.2%;
    top: 33.7%;
    width: 19.5%;
    height: 32.98%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .gallery_1 .project.project5 {
    right: 0px;
    left: auto;
    bottom: auto;
    width: 39.8%;
    height: 32.6%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  .gallery_1 .project.project6 {
    bottom: 0px;
    top: auto;
    left: auto;
    right: 0px;
    width: 39.8%;
    height: 66.67%;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
  
  @media (max-width: 1024px) {
    .gallery_1 .responsive-container-block.imgContainer {
      height: 600px;
    }
  
    .gallery_1 .text-blk.subHeading {
      font-size: 18px;
      line-height: 27px;
    }
  }
  
  @media (max-width: 768px) {
    .gallery_1 .project.project5 {
      top: 520px;
      width: 100%;
      left: 0px;
      right: auto;
      bottom: auto;
      height: 200px;
    }
  
    .gallery_1 .responsive-container-block.imgContainer {
      height: 930px;
    }
  
    .gallery_1 .project.project1 {
      width: 64%;
      height: 300px;
    }
  
    .gallery_1 .project.project3 {
      left: auto;
      width: 35%;
      height: 145px;
      right: 0px;
    }
  
    .gallery_1 .project.project4 {
      left: auto;
      width: 35%;
      height: 145px;
      top: 155px;
      right: 0px;
    }
  
    .gallery_1 .project.project6 {
      height: 200px;
      width: 100%;
    }
  
    .gallery_1 .project.project2 {
      width: 100%;
      top: 310px;
      height: 200px;
    }
  
    .gallery_1 .project {
      width: 100%;
      padding-top: 10px;
      padding-right: 0px;
      padding-bottom: 10px;
      padding-left: 0px;
    }
  
    .gallery_1 .overlay-inner {
      width: 90%;
    }
  
    .gallery_1 .text-blk.subHeading {
      line-height: 25px;
      font-size: 17px;
      max-width: 600px;
    }
  
    .gallery_1 .text-blk.heading {
      font-size: 30px;
      line-height: 40px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 15px;
      margin-left: 0px;
    }
  }
  
  @media (max-width: 500px) {
    .gallery_1 .responsive-container-block.imgContainer {
      height: 890px;
    }
  
    .gallery_1 .responsive-container-block.bigContainer {
      padding-top: 10px;
      padding-right: 20px;
      padding-bottom: 10px;
      padding-left: 20px;
    }
  
    .gallery_1 .text-blk.heading {
      font-size: 30px;
      line-height: 35px;
    }
  
    .gallery_1 .text-blk.subHeading {
      font-size: 16px;
      line-height: 22px;
      margin-top: 0px;
      margin-right: 0px;
      margin-bottom: 30px;
      margin-left: 0px;
    }
  
    .gallery_1 .project.project1 {
      height: 250px;
    }
  
    .gallery_1 .project.project3 {
      height: 123px;
    }
  
    .gallery_1 .project.project4 {
      height: 123px;
      top: 127px;
    }
  
    .gallery_1 .project.project2 {
      top: 260px;
    }
  
    .gallery_1 .project.project5 {
      top: 470px;
    }
  
    .gallery_1 .project.project6 {
      top: 680px;
    }
  }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.wk-desk-1 {
  width: 8.333333%;
}

.wk-desk-2 {
  width: 16.666667%;
}

.wk-desk-3 {
  width: 25%;
}

.wk-desk-4 {
  width: 33.333333%;
}

.wk-desk-5 {
  width: 41.666667%;
}

.wk-desk-6 {
  width: 50%;
}

.wk-desk-7 {
  width: 58.333333%;
}

.wk-desk-8 {
  width: 66.666667%;
}

.wk-desk-9 {
  width: 75%;
}

.wk-desk-10 {
  width: 83.333333%;
}

.wk-desk-11 {
  width: 91.666667%;
}

.wk-desk-12 {
  width: 100%;
}

@media (max-width: 1024px) {
  .wk-ipadp-1 {
    width: 8.333333%;
  }

  .wk-ipadp-2 {
    width: 16.666667%;
  }

  .wk-ipadp-3 {
    width: 25%;
  }

  .wk-ipadp-4 {
    width: 33.333333%;
  }

  .wk-ipadp-5 {
    width: 41.666667%;
  }

  .wk-ipadp-6 {
    width: 50%;
  }

  .wk-ipadp-7 {
    width: 58.333333%;
  }

  .wk-ipadp-8 {
    width: 66.666667%;
  }

  .wk-ipadp-9 {
    width: 75%;
  }

  .wk-ipadp-10 {
    width: 83.333333%;
  }

  .wk-ipadp-11 {
    width: 91.666667%;
  }

  .wk-ipadp-12 {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .wk-tab-1 {
    width: 8.333333%;
  }

  .wk-tab-2 {
    width: 16.666667%;
  }

  .wk-tab-3 {
    width: 25%;
  }

  .wk-tab-4 {
    width: 33.333333%;
  }

  .wk-tab-5 {
    width: 41.666667%;
  }

  .wk-tab-6 {
    width: 50%;
  }

  .wk-tab-7 {
    width: 58.333333%;
  }

  .wk-tab-8 {
    width: 66.666667%;
  }

  .wk-tab-9 {
    width: 75%;
  }

  .wk-tab-10 {
    width: 83.333333%;
  }

  .wk-tab-11 {
    width: 91.666667%;
  }

  .wk-tab-12 {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .wk-mobile-1 {
    width: 8.333333%;
  }

  .wk-mobile-2 {
    width: 16.666667%;
  }

  .wk-mobile-3 {
    width: 25%;
  }

  .wk-mobile-4 {
    width: 33.333333%;
  }

  .wk-mobile-5 {
    width: 41.666667%;
  }

  .wk-mobile-6 {
    width: 50%;
  }

  .wk-mobile-7 {
    width: 58.333333%;
  }

  .wk-mobile-8 {
    width: 66.666667%;
  }

  .wk-mobile-9 {
    width: 75%;
  }

  .wk-mobile-10 {
    width: 83.333333%;
  }

  .wk-mobile-11 {
    width: 91.666667%;
  }

  .wk-mobile-12 {
    width: 100%;
  }
}



@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logo {
    display: flex;
    justify-content: center;
  }

  .content {
    display: block;
  }

  html {
    overflow: auto;
    width: 100%;
    height: 100%;
  }
  

}

@media screen and (min-width: 1024px) {
  .logo {
    display: flex;
    justify-content: center;
  }
  

  .content {
    display: block;
  }

  html {
    overflow: auto;
    width: 100%;
    height: 100%;
  }

}

@media screen and (max-width: 430) {

  .logo {
    display: flex;
    justify-content: center;
  }

  .content {
    display: block;
  }


  html {
    overflow: auto;
    width: 100%;
    height: 100%;
  }

}