* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #225733 0%,#000000 100%);
}

:root {
  --main-bg-color: transparent;
  --main-card-color: #ffdfe3;
  --main-text-color: #2E2E3A;
  --surface-color: #fff;
  --curve: 40;
}

@font-face {
  font-family: "catcheye-webfont";
  src: url('../fonts/Roboto-Regular.ttf') format('woff2'),
       url('../fonts/coolvetica_rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  font-family: "catcheye-webfont";
  
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}


.collapsible::before {
  display: block;
  content: '+';
  color: greenyellow;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: transparent;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 80px;
  font-family: "catcheye-webfont";
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */


/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 20px;
  display: none;
  overflow: hidden;
  background-color: transparent;
  color: greenyellow;
  font-family: "catcheye-webfont";
  
}
.content a {
  text-decoration: none;
  font-family: "catcheye-webfont";
  color: greenyellow;
  padding: 0% 1%;
}
.content a:hover {
  text-decoration: none;
  font-family: "catcheye-webfont";
  color: rgb(247, 255, 235);
}

.content li {
  list-style: none;
  
}

@media screen and (max-width: 768px) {
  .logo {
    display: flex;
    justify-content: center;
  }

  .menu {
    display: none;
  }


  html {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logo {
    display: flex;
    justify-content: center;
  }

  .menu {
    display: block;
  }

  html {
    overflow: hidden;
  }

}

@media screen and (min-width: 1024px) {
  .logo {
    display: flex;
    justify-content: center;
  }
  

  .menu {
    display: block;
  }

  html {
    overflow: hidden;
  }

}

@media screen and (max-width: 430) {
  .logo {
    display: flex;
    justify-content: center;
  }

  .menu {
    display: block;
  }


  html {
    overflow: hidden;
  }

}